baseURL = 'https://herzlungenpraxis-cloppenburg.de/'
languageCode = 'de-DE'
title = 'Herz-Lungen-Praxis Cloppenburg'
enableEmoji = true
disableHugoGeneratorInject = true
disableKinds = ["rss", "taxonomy", "term"]
enableRobotsTXT = true

[params]
useAltCSS = true  # Set to false to use the default CSS
showMainMenu = true
claim = 'Ihre Praxis für Kardiologie, Pneumologie, Allergologie und Schlafmedizin. Alles unter einem Dach.'
[params.contact]
  phone = '044716121'
  phone_human = '(04471) 6121'
  phone2 = '04471933949'
  phone2_human = '(04471) 933949'
  fax_human = '(04471) 87020'
  mail = 'info@herzlungenpraxis-cloppenburg.de'
  street = 'Antoniusplatz 10'
  city = '49661 Cloppenburg'


[markup]
  [markup.goldmark]
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true

[menus]
# Leistungen
  [[menus.main]]
    name = 'Leistungen'
    pageRef = '/leistungen'
    weight = 20
  [[menus.main]]
    name = 'Kardiologie'
    post = 'Herzgesundheit erhalten'
    pageRef = '/leistungen/kardiologie'
    parent = 'Leistungen'
    weight = 2
  [[menus.main]]
    name = 'Pneumologie'
    post = 'Gut durchatmen'
    pageRef = '/leistungen/pneumologie'
    parent = 'Leistungen'
    weight = 3
  [[menus.main]]
    name = 'Allergologie'
    post = 'Testen und Behandeln'
    pageRef = '/leistungen/allergologie'
    parent = 'Leistungen'
    weight = 4
  [[menus.main]]
    name = 'Schlafmedizin'
    post = 'Erholsam schlafen'
    pageRef = '/leistungen/schlafmedizin'
    parent = 'Leistungen'
    weight = 5

# Über uns
  [[menus.main]]
    name = 'Über uns'
    pageRef = '/ueber-uns'
    weight = 30
  [[menus.main]]
    name = 'Unsere Ärzte'
    #post = 'Lorem ipsum dolor sit amet'
    pageRef = '/ueber-uns/team'
    parent = 'Über uns'
    weight = 1
  [[menus.main]]
    name = 'Unsere Praxis'
    #post = 'Lernen Sie Team und Praxis kennen'
    pageRef = '/ueber-uns/praxis'
    parent = 'Über uns'
    weight = 2
  [[menus.main]]
    name = 'Stellenangebote'
    #post = 'Lorem ipsum dolor sit amet'
    pageRef = '/ueber-uns/karriere'
    parent = 'Über uns'
    weight = 4

# Patienteninformationen
  [[menus.main]]
    name = 'Patienteninformationen'
    pageRef = '/informationen'
    weight = 40
  [[menus.main]]
    name = 'Kontakt & Anfahrt'
    post = ''
    pageRef = '/informationen/kontakt'
    parent = 'Patienteninformationen'
    weight = 1
  [[menus.main]]
    name = 'Häufige Fragen'
    post = ''
    pageRef = '/informationen/faq'
    parent = 'Patienteninformationen'
    weight = 2

# Footer
  [[menus.footer]]
    name = 'Impressum & Datenschutz'
    pageRef = '/datenschutz-impressum'
    weight = 20
