<div class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="modalContactTitle" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
        <!-- Close -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        <!-- Heading -->
        <h2>Anrufen</h2>
        <p class="fw-bold text-center mb-1" id="modalContactTitle"></p>

        <!-- Phone -->
        <div class="row mb-4">
          <div class="col-12 col-sm-6 mb-2">
            <div class="badge badge-lg badge-rounded-circle text-bg-primary-subtle mt-0 me-2">
              <span class="fe fe-phone"></span>
            </div>
            <a href="tel:{{ site.Params.Contact.phone }}" class="h4 text-body-secondary mt-2">
              {{ site.Params.Contact.phone_human }}
            </a>
          </div>
          <div class="col-12 col-sm-6">
            <div class="badge badge-lg badge-rounded-circle text-bg-primary-subtle mt-0 me-2">
              <span class="fe fe-phone"></span>
            </div>
            <a href="tel:{{ site.Params.Contact.phone2 }}" class="h4 text-body-secondary mt-2">
              {{ site.Params.Contact.phone2_human }}
            </a>
          </div>
        </div>

        <!-- Text -->
        <h2>Sprechstunde</h2>
        {{ partial "openinghours" }}
        <p class="mb-4 mb-md-6">
          Termine sind nach telefonischer Vereinbarung auch außerhalb dieser Zeiten möglich.
        </p>

        <button type="button" class="btn w-100 btn-primary mt-3 lift" data-bs-dismiss="modal"
          aria-label="Close">Schließen</button>
      </div>
    </div>
  </div>
</div>
