<div class="modal fade" id="modalGender" tabindex="-1" aria-labelledby="modalGenderTitle" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        <!-- Heading -->
        <h2>Gender-Hinweis</h2>
        <p class="mb-1">
          Wir verwenden auf unserer Homepage eine einheitliche Geschlechtsform, um eine klare und konsistente Botschaft
          zu vermitteln.
        </p>
        <p class="mb-5">

          Wir betonen, dass alle Menschen unabhängig von Herkunft, Religion und Geschlechtsidentitäten in unserer Praxis
          willkommen sind. Alle Patient*innen werden gleichberechtigt und respektvoll behandelt, unabhängig von ihrem
          Geschlecht.
        </p>

        <button type="button" class="btn w-100 btn-primary mt-3 lift" data-bs-dismiss="modal"
          aria-label="Close">Schließen</button>
      </div>
    </div>
  </div>
</div>