<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Physician",
    "name": "Herz-Lungen-Praxis Cloppenburg",
    "slogan": "Ihre Praxis für Kardiologie, Pneumologie, Allergologie und Schlafmedizin. Alles unter einem Dach.",
    "image": "https://www.herzlungenpraxis-cloppenburg.de/_index/hero/Praxisrundschau_by_M_Grambow.webp",
    "@id": "",
    "url": "https://www.herzlungenpraxis-cloppenburg.de/",
    "telephone": "+494471933949",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Antoniusplatz 10",
        "addressLocality": "Cloppenburg",
        "postalCode": "49661",
        "addressCountry": "DE"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": 52.8488727,
        "longitude": 8.042734
    },
    "openingHoursSpecification": [
        {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
            ],
            "opens": "08:00",
            "closes": "13:00"
        },
        {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Thursday"
            ],
            "opens": "15:00",
            "closes": "18:00"
        }
    ],
    "department": [
        {
            "@type": "Physician",
            "name": "Kardiologie",
            "description": "Spezialisiert auf Herz-Kreislauf-Erkrankungen",
            "medicalSpecialty": "Cardiovascular"
        },
        {
            "@type": "Physician",
            "name": "Pneumologie",
            "description": "Spezialisiert auf Lungenerkrankungen",
            "medicalSpecialty": "Pulmonology"
        },
        {
            "@type": "Physician",
            "name": "Allergologie",
            "description": "Spezialisiert auf die Diagnose und Behandlung von Allergien",
            "medicalSpecialty": "Allergy"
        },
        {
            "@type": "Physician",
            "name": "Schlafmedizin",
            "description": "Spezialisiert auf Schlafstörungen und deren Behandlung",
            "medicalSpecialty": "SleepMedicine"
        }
    ]
}
</script>