<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <!-- partial "menu.html" (dict "menuID" "main" "page" .) }} ausweiden und dann löschen-->
  {{ partial "navbar.html" (dict "classList" "bg-white" "container" "container" "button" "primary") }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" (dict "classList" "bg-gray-200") }}
  </footer>
</body>
</html>
