:root {
  --bs-primary: #395a8e;
  --bs-primary-rgb: 133, 180, 242;
  --bs-primary-bg-subtle-rgb: 27,42,78;
  --bs-btn-hover-bg: #85b4f2;
}

.btn-primary {
  --bs-btn-hover-bg: #85b4f2;
}

.text-primary {
  
}