:root {
  --bs-primary: #e14e11;
  --bs-primary-rgb: 225, 78, 17;
  --bs-primary-bg-subtle-rgb: 225, 78, 17;
  --bs-btn-hover-bg: #eec8c8;
  --bs-dark-rgb: 80,102,144;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c7482b;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 82,118,237;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: 0 0;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.text-body-secondary {
  color: var(--bs-gray-700) !important;
}

.navbar-nav .dropdown-menu .list-group-item:hover {
  text-decoration: underline;
}

.overlay-black::before {
  background-color: #2d1c16;
}