{{- $title := .title -}}
{{- $summary := .summary -}}

<section class="pt-6 pt-md-8 border-bottom border-gray-300">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="row mb-6 mb-md-8">
                    <div class="col-12">

                        <!-- Heading -->
                        <h1 class="fw-bold mb-0 h2">
                            {{ $title }}
                        </h1>

                        <!-- Text -->
                        <p class="fs-lg text-gray-700 mb-0">
                            {{ $summary }}
                        </p>

                    </div>
                </div> <!-- / .row -->

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>