<meta charset="utf-8">
{{ partialCached "head/csp.html" . }}

<meta name="referrer" content="no-referrer">
<meta http-equiv="X-Content-Type-Options" content="'nosniff' always">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{ site.Title }}">
<meta property="og:description" content="{{ site.Params.claim }}">
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.og_image | default "_index/og/Praxisrundschau_by_M_Grambow.jpg" }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">

{{ $favicon := resources.Get "favicon/favicon.ico" }}
<link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/x-icon">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
