<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="
default-src 'none';
base-uri 'self';
form-action 'none';
script-src 'self';
style-src 'self'
">

<meta name="referrer" content="no-referrer">
<meta http-equiv="X-Frame-Options" content="deny">
<meta http-equiv="X-Content-Type-Options" content="'nosniff' always">

<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $favicon := resources.Get "favicon/favicon.ico" }}
<link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/x-icon">

{{ partialCached "head/css.html" . }}

{{ partialCached "head/js.html" . }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
