{{- /*
  Renders a menu for the given menu ID.

  @context {page} page The current page.
  @context {string} menuID The menu ID.

  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}

  {{- $page := .page }}
  {{- $menuID := .menuID }}

  {{- define "partials/inline/menu/navbar.html" }}
    {{/* URL of the current page */}}
    {{- $page := .page }}

    {{/* Iterate over menu items */}}
    {{- range .menuEntries }}

      {{/* Create link tag attributes */}}
      {{- $attrs := dict "href" .URL "class" "nav-link dropdown-toggle"}}
      {{- if $page.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "nav-link dropdown-toggle active" "aria-current" "page") }}
      {{- else if $page.HasMenuCurrent .Menu .}}
        {{- $attrs = merge $attrs (dict "class" "nav-link dropdown-toggle ancestor" "aria-current" "true") }}
      {{- end }}

      {{/* Process and assign link text value */}}
      {{- $name := .Name }}
      {{- with .Identifier }}
        {{- with T . }}
          {{- $name = . }}
        {{- end }}
      {{- end }}

      <li class="nav-item dropdown">
        {{/* Add processed attributes to link tag */}}
        <a
          {{- range $k, $v := $attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end -}}

          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"


        >{{ $name }}</a>

        {{- with .Children }}
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
            <div class="list-group list-group-flush">
              <!-- List -->
              {{ range . }}
              <a class="list-group-item" href="{{ .PageRef}}">

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    {{ .Name }}
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    {{ .Post }}
                  </p>

                </div>

              </a>
              {{ end }}
            </div>
          </div>
        {{- end }}

      </li>
    {{- end }}
  {{- end }}


<nav class="navbar navbar-expand-lg {{.classList}} sticky-top">
  <div class="{{.container}}">

    <a class="navbar-brand" style="font-size: 100%;" href="{{ "/" | relURL }}">{{ site.Title }}</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      {{- with index site.Menus $menuID }}
        <ul class="navbar-nav ms-auto">

          {{- partial "inline/menu/navbar.html" (dict "page" $page "menuEntries" .) }}

        </ul>
      {{- end }}

      <!-- Phone -->
      <!-- <div class="badge badge-lg badge-rounded-circle text-bg-primary-subtle ms-4 mt-0 me-3">
        <span class="fe fe-phone"></span>
      </div>
      <a href="tel:{{ site.Params.Contact.phone }}" class="h4 text-primary mt-2">
        {{ site.Params.Contact.phone_human }}
      </a> -->
      <!-- Button
      <a class="navbar-btn btn btn-sm btn-{{.button}} lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Kontakt
      </a>-->
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalExample">
        Kontakt & Sprechstunde
      </button>    
    </div>

  </div>
</nav>

<div class="modal fade" id="modalExample" tabindex="-1" aria-labelledby="modalExampleTitle" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        <!-- Image -->
        <div class="text-center">
          <img src="../assets/img/illustrations/illustration-1.png" alt="..." class="img-fluid mb-3" style="width: 200px;">
        </div>

        <!-- Heading -->
        <h2>Anrufen</h2>
        <p class="fw-bold text-center mb-1" id="modalExampleTitle">
          <div class="badge badge-lg badge-rounded-circle text-bg-primary-subtle ms-4 mt-0 me-3">
            <span class="fe fe-phone"></span>
          </div>
          <a href="tel:{{ site.Params.Contact.phone }}" class="h4 text-primary mt-2">
            {{ site.Params.Contact.phone_human }}
          </a>
        </p>

        <!-- Text -->
        <h2>Sprechstunde</h2>
        <dl class="row fs-lg text-body-secondary mb-6 mb-md-8">
          <dt class="col-sm-3">Montag</dt>
          <dd class="col-sm-9">8 - 13 und 15 - 18 Uhr</dd>
          <dt class="col-sm-3">Dienstag</dt>
          <dd class="col-sm-9">8 - 13 und 15 - 18 Uhr</dd>
          <dt class="col-sm-3">Mittwoch</dt>
          <dd class="col-sm-9">8 - 13 Uhr</dd>
          <dt class="col-sm-3">Donnerstag</dt>
          <dd class="col-sm-9">8 - 13 und 15 - 18 Uhr</dd>
          <dt class="col-sm-3">Freitag</dt>
          <dd class="col-sm-9">8 - 13 Uhr</dd>
        </dl>

        <button type="button" class="btn w-100 btn-primary mt-3 lift" data-bs-dismiss="modal" aria-label="Close">Schließen</button>
      </div>
    </div>
  </div>
</div>
