<dl class="row fs-lg mb-4">
    <dt class="col-sm-3">Montag</dt>
    <dd class="col-sm-9">8 - 13 und 15 - 18 Uhr</dd>
    <dt class="col-sm-3">Dienstag</dt>
    <dd class="col-sm-9">8 - 13 und 15 - 18 Uhr</dd>
    <dt class="col-sm-3">Mittwoch</dt>
    <dd class="col-sm-9">8 - 13 Uhr</dd>
    <dt class="col-sm-3">Donnerstag</dt>
    <dd class="col-sm-9">8 - 13 und 15 - 18 Uhr</dd>
    <dt class="col-sm-3">Freitag</dt>
    <dd class="col-sm-9">8 - 13 Uhr</dd>
</dl>
<p class="fs-lg"><mark>Unsere Pneumologen haben am 2. Mai und 30. Mai keine Sprechstunde. Die Kardiologie hat am 30. Mai keine Sprechstunde.</mark></p>