{{ define "main" }}

<!-- CONTENT -->
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center gx-0 min-vh-100">
      <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

        <!-- Heading -->
        <h1 class="display-3 fw-bold">
          Uh Oh.
        </h1>

        <!-- Text -->
        <p class="mb-5 text-body-secondary">
          Entschuldigung, die von Ihnen aufgerufene Seite konnte nicht gefunden werden.
        </p>

        <!-- Link -->
        <a class="btn btn-primary" href="/">
          Zurück zur Startseite
        </a>

      </div>
      <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

        <!-- Image -->
        <div class="h-100 w-cover bg-cover" style="background-image: url(/_index/404//LuFu1_by_M_Grambow.webp);"></div>

        <!-- Shape -->
        <div class="shape shape-start shape-fluid-y text-white">
          {{ partial "shapes/angles/angle-start.svg"}}
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
{{ end }}
