{{ define "main" }}

<!-- HEADLINE -->
<section class="pt-6 pt-md-8 border-bottom border-gray-300">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="row mb-6 mb-md-8">
                    <div class="col-auto">

                        <!-- Icon -->
                        <div class="icon-circle bg-primary text-white">
                            <i class="fe fe-users"></i>
                        </div>

                    </div>
                    <div class="col ms-n4">

                        <!-- Heading -->
                        <h1 class="fw-bold mb-0 h2">
                            {{ .Title }}
                        </h1>

                        <!-- Text -->
                        <p class="fs-lg text-gray-700 mb-0">
                            {{ .Content }}
                        </p>

                    </div>
                </div> <!-- / .row -->

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- CONTENT -->
<section class="pt-6 pt-md-8 pb-8 mb-md-8 bg-gradient-light-white">
    <div class="container">
        <div class="row">
            <div class="col-12">

                {{ range .Pages.GroupByParam "category" }}
                <!-- Card -->
                <div class="accordion shadow-light-lg mb-5 mb-md-6" id="helpAccordionOne">
                    <div class="accordion-item">

                        <!-- Button -->
                        <div class="accordion-button" role="button">
                            <div class="me-auto">

                                <!-- Heading -->
                                <h4 class="fw-bold mb-0">
                                    {{ .Key | title }}
                                </h4>

                                <!-- Text -->
                                <p class="fs-sm text-body-secondary mb-0">
                                </p>

                            </div>

                            <!-- Badge -->
                            <span class="badge rounded-pill text-bg-success-subtle ms-4">
                                <span class="h6 text-uppercase">
                                    {{ .Pages.Len }} Antworten
                                </span>
                            </span>

                        </div>

                    </div>


                    {{ range .Pages }}
                    <div class="accordion-item">

                        <!-- Button -->
                        <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ .Path }}" aria-expanded="false" aria-controls="{{ .Path }}">

                            <!-- Title -->
                            <span class="me-4" id="">
                                {{ .LinkTitle }}
                            </span>

                            <!-- Metadata -->
                            <div class="text-body-secondary ms-auto">
                            </div>

                        </div>

                        <!-- Collapse -->
                        <div class="accordion-collapse collapse" id="{{ .Path }}" aria-labelledby=""
                            data-bs-parent="#helpAccordionOne">
                            <div class="accordion-body">

                                <!-- Text -->
                                <p class="text-gray-700">
                                    {{ .Content }}
                                </p>

                            </div>
                        </div>

                    </div>
                    {{ end }}
                </div>
                {{ end }}

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

{{ end }}